<p>logout works!</p>
<button (click)="getData()">getDataLogOut</button>
<!--@directive
1)component directive eg. @Component
2)structural : * , eg *ngIf, *ngFor, *ngSwitch
if(true){
    code block
}
for(let i=0 ; i<array.lenght, i++){
    CB
}
for(let items of item){

}
switch(){
    case 1 : ;
    default: ;
}
3)Attribute : ngClass, ngStyle.
4)custom : ng g directive Directive_Name
-->

<h1>We are learning Directives</h1>
<div *ngIf="hide">
    <h2 >if block</h2>
    <p>inside dive if condition satishfied</p>
</div>
<h2 *ngIf="!hide">else block</h2>
<h3>We are learning *ngFor</h3>
<div>
{{colors[0]}}<br>
</div><br>

<li *ngFor="let colorsItem of colors">
    {{colorsItem}}
</li><br>
 <p>{{info.myInfo.age}}</p>
 <br>

<h1>ngSwitch</h1>
<div [ngSwitch]="car">
    <p *ngSwitchCase="'swift'"> i have Swift Car</p>
    <p *ngSwitchCase="'SwiftDesire'"> i have Swift Desire Car</p>
    <p *ngSwitchCase="'Marcedeez'"> i have Marcedeez</p>
    <p *ngSwitchCase="'mini cup'"> i havemini cup Car</p>
    <p *ngSwitchCase="'i20'"> i have i20 Car</p>
    <p *ngSwitchDefault>I dont have car</p>
</div><br>

<h1 style="background-color: pink;">Inline Style</h1>
<h2 [ngStyle]="{'background-color':'red'}">ngStyle</h2>
<h2 [ngStyle]="{'background-color':colorOf}">dyanamic color binding</h2>
<div [ngStyle]="{'color' : colorOf === 'yellow' ? 'yellow' : 'green'}">
This is conditional style binding
</div>
 