<p>login works.....!</p>
<button (click)="getData('tom')">button</button>

<button (click)="getData2('sunny')">button</button>
<input type="text" #inputTag (keyup.enter)="getData(inputTag.value)" (keyup)="getData2(inputTag.value)" >
<br>
<input type="text"  (change)="changeFun($event)" >
<br>
<input type="text" (keypress)="onKeypressEvent($event)" />
<br>
<button (click)="getServiceData()">serviceData</button>
<br>

<h1>{{surname}}</h1>
<p>{{getInterpolation()}}</p>
<h2>{{xyz}}</h2><br>
<h2>{{xyz == 1000}}</h2><br><!--we can use equality operator . It will return true or false-->
<h2>{{xyz - 500 }}</h2> <!-- we can apply Arithmatic operations in interpolation -->
<!-- <h2>{{xyz -- }}</h2> We cannot apply increment or decrement in interpolation 
 <h2>{{typeof xyz}}</h2>   We cannot apply typeof operator in intp
 <h2>{{xyz = 500 }}</h2>   We cannot apply Assigment optr-->

<input type="text" #inBox (keyup)="getInboxValue(inBox.value)" value = 'poonam.....'><br>
<input type="text" value = 'poonampatil'><br>
<input type="text" [value]="interpolationProp" ><br>
<input type="text" value = {{myName}}><br>
<input type="text" value = 'myName'>
<button (click)="buttonClick($event)">Click Event</button>
<br>
<input type="text" [disabled] = "disableFlag" [value] = 'disableName'><br>
<input type="text" disabled = {{disableFlag}} value = {{disableName}}><br>
<button (click)="enableInputBox()">Enable Input Box</button><br>

<!--[(ngModule)]-->

<input type="text" [(ngModel)] = 'ngName' ><br>
<h1>{{ngName}}</h1>